body {
    background-color: black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-button {
    position: relative;
    top: -40px;
    width: 100%;
    background-color: white;
    border-color: white;
    border-radius: 5px;
}

.message-box {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color: black;
    height: 80wh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    color: white;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

.join-btn {
    width: 100%;
    background-color: white;
    border-color: white;
    border-radius: 5px;
}

#error-msg {
    color: white;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

#text-box {
    background-color: white;
    border-radius: 10%;
}

#user-color {
    position: relative;
    top: 40px;
}

#user-color-input {
    top: 40px;
    border-width: 2px;
}

.sent-msg {
    background-color: var(--picked-color);
    border-color: green;
    border-radius: 15%;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: white;
}

