{% extends 'base.html' %}

{% block content %}

<form method="post", class="buttons">
    <h3>Enter The Chat Room</h3>
    <div>
        <label>Name:</label>
    
        <input id="text-box" type="Text" placeholder="Pick A Name" name="name" value="{{name}}"/>
    </div>
    
    <div class="join">
        <label>Code:</label>
        <input id="text-box"type="text", placeholder="Room Code", name="code", value="{{code}}">
        <button type="submit" name="join" class="join-btn">Join Room</button>
    </div>

    <div id="user-color">
        <label>Color:</label>
        <input type="color" id="user-color-input">
        <input type="hidden" name="user_color" id="color-hidden">
    </div>


    <button type="submit", name="create", class="create-button">Create a Room</button>

    {% if error %}
    <ul>
        <li id="error-msg">{{error}}</li>
    </ul>
    {% endif %}
</form>

{% endblock %}


